@font-face {
    font-family: myFirstFont;
    src: url("/fonts/LCALLIG.TTF");
  }
body, html{
   height: 100vh;
}

/* .container{
    box-shadow: 10px 10px 100px 10px;
} */

.name-font{
    font-family: myFirstFont;
}